.movies-card-list {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.movies-card-list__more {
  border: none;
  background: #f9f9f9;
  border-radius: 6px;
  min-height: 36px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin: 50px 0 0 0;
  cursor: pointer;
  -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    margin: 50px 0 80px 0;
}

.movies-card-list__more:hover {
  background-position: 100% 0;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-image: linear-gradient(to right, #e99c4f, #ec8c69, #f1aa03 , #FBB03B);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
    color: #fff;
}

.movies-card-list__error {
  max-width: 600px;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 14px;
  color: #465ddf;
  padding: 0 0 30px 0;
}
