.about-project{
  background: #fff;
  padding: 0 0 110px 0;
}

.about-project__main {
  display: flex;
  gap: 40px;
}

.about-project__info {
  padding: 70px 0 0 0;
}

.about-project__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.04em;
}

.about-project__subtitle {
  font-size: 14px;
  line-height: 20px;
  padding: 26px 0 0 0;
}

.about-project__scale {
  gap: 5px;
  padding: 93px 0 0 0;
  display: grid;
  grid-template-columns: 29% 4fr;
  min-height: 36px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.about-project__frontend {
  background: url('../../../images/gif-green-about-project.gif') 50%/cover no-repeat;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-project__backend {
  text-align: center;
  background: #f2f2f2;
  background: url('../../../images/gif-green-about-project.gif') 50%/cover no-repeat;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-project__scale-subtitle {
  display: grid;
  grid-template-columns: 29% 1fr;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #a0a0a0;
  padding: 14px 0 0 0;
}

.about-project__frontend-subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-project__backend-subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-project__more {
  padding: 70px 0 0 0;
}

.about-project__item {
  padding: 0 0 10px 20px;
  max-width: 85%;
  position: relative;
  list-style-type: none;
  border-left: 10px solid #f05d22;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30px;
  box-shadow: 2px -2px 5px 0 rgba(209, 194, 194, 0.1),
     -2px -2px 5px 0 rgba(209, 194, 194, 0.1),
    2px 2px 5px 0 rgba(209, 194, 194, 0.1),
    -2px 2px 5px 0 rgba(209, 194, 194, 0.1);
}

/* .about-project__item:not(:last-child){
  padding-bottom: 10px;
} */

/* #eb6083 38%, #00deff */

.about-project__item:nth-child(1){border-color: #fcba30;}
.about-project__item:nth-child(2){border-color: #eb6083;}
.about-project__item:nth-child(3){border-color: #8bc63e;}
.about-project__item:nth-child(4){border-color: #396de5;}
.about-project__item:nth-child(5){border-color: #bc2276;}
.about-project__item:nth-child(6){border-color: #8bc63e;}
.about-project__item:nth-child(7){border-color: #fcba30;}
.about-project__item:nth-child(8){border-color: #1ccfc9;}
.about-project__item:nth-child(9){border-color: #f05d22;}

.about-project__item:hover {border-left: 10px solid transparent;}

.about-project__item:nth-child(1):hover {border-right: 10px solid #f67a48;}
.about-project__item:nth-child(2):hover {border-right: 10px solid #8bc63e;}
.about-project__item:nth-child(3):hover {border-right: 10px solid #fcba30;}
.about-project__item:nth-child(4):hover {border-right: 10px solid #1ccfc9;}
.about-project__item:nth-child(5):hover {border-right: 10px solid #493224;}
.about-project__item:nth-child(6):hover {border-right: 10px solid #f05d22;}
.about-project__item:nth-child(7):hover {border-right: 10px solid #8bc63e;}
.about-project__item:nth-child(8):hover {border-right: 10px solid #fcba30;}
.about-project__item:nth-child(9):hover {border-right: 10px solid #1ccfc9;}

@media (max-width:768px){
  .about-project__main {
    gap: 30px;
  }
}

@media (max-width:500px){
  .about-project{
    background: #fff;
    padding-bottom: 70px;
  }

  .about-project__main {
    flex-wrap: wrap;
    gap: 56px;
    padding-top: 60px;
  }

  .about-project__info {
    padding: 0;
  }

  .about-profect__title {
    font-size: 18px;
    line-height: 22px;
  }

  .about-project__subtitle {
    font-size: 11px;
    line-height: 16px;
    padding: 16px 0 0 0;
  }

  .about-project__scale {
    padding-top: 60px;
    font-size: 11px;
    line-height: 13px;
  }

  .about-project__scale-subtitle {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
  }
}
