.page {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  background: url('../images/fon.jpg') 0 0/100% 100% no-repeat;
	color: #000;
}

.page__content {
  padding-top: 20px;
  font-size: 16px;
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* .page__content_position_header-for-main {
  padding-top: 40px;
} */