.promo {
  background: url('../../../images/AjIm.gif') 50%/cover no-repeat;
  /* background-position:top right; */
  box-shadow: rgba(0, 0, 0, 0.56) 0px -70px 45px 4px;
  /* aspect-ratio:3; */
  flex: 1;
  padding: 200px 0;
  max-width: 100%;
}

.promo__container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* width: 100%; */
  /* gap: 10px; */
}

.promo__title {
  /* margin: auto auto; */
  font-size: 35px;
  font-weight: 500;
  line-height: 50px;
  color: #c89898;
  max-width: 845px;
  text-align: right;
  padding: 0 50px 0 0;
  max-width: 100%;
  background: linear-gradient(45deg, #0B2349 33%, #0D61BC 66%, #00deff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.promo__title_style_font {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 60px;
  /* font-size: 50px; */
  font-weight: 700;
  text-transform: uppercase;
  background: repeating-linear-gradient(white, rgb(202, 11, 74) 2px, #db310b 2px, #19df51 3px);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 40px 0 0 0;

  color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	background-image: url('../../../images/fon-for-name-red-green.webp');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.promo__subtitle {
  padding: 90px 0 50px 0;
  margin: 0 auto;
  opacity: .8;
  font-size: 15px;
  line-height: 18px;
  color: #fff;
  max-width: 310px;
  text-align: center;
}
/*
.promo__image {
  max-width: 315px;
} */

/* .promo__img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
} */

@media (max-width:885px){
  .promo {
    padding-top: 140px;
  }

  .promo__container {
    flex-wrap: wrap-reverse;
  }

  .promo__title {
    font-size: 40px;
    line-height: 50px;
  }

  .promo__main-text {
    display: flex;
    flex-direction: column;
  }

  /* .promo__image {
    display: flex;
    margin: 0 auto;
  } */

  .promo__title {
    text-align: center;
    max-width: 690px;
    padding-top: 48px;
    font-size: 40px;
    line-height: 50px;
  }

  .promo__subtitle {
    text-align: center;
    margin: 0 auto;
    font-size: 13px;
    line-height: 16px;
  }

  .promo__subtitle {
    padding-top: 22px;
    padding-bottom: 92px;
  }
}

@media (max-width:500px){
  .promo {
    padding-top: 70px;
    padding-bottom: 30px;
  }

  .promo__title {
    padding-top: 44px;
    font-size: 30px;
    line-height: 38px;
    opacity: 1;
    letter-spacing: -0.04em;
  }

  .promo__subtitle {
    padding-top: 24px;
    padding-bottom: 80px;
    font-size: 13px;
    line-height: 16px;
    max-width: 260px;
  }

  .promo__img {
    max-width: 210px;
  }
}
